
<html>
<head>
    <title>Lista de Productos</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <header class="bg-dark text-white p-3">
                <h1>Bienvenidos al Ecommerce</h1>
            </header>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
           <div class="d-flex justify-content-end p-3" style="background-color: #f1f1f1;">
        <a href="logout" class="btn btn-success"><i class="fas fa-sign-out-alt"></i> Salir</a>
    </div>
</div>

<div class="row justify-content-center">
    <h2 class="mt-4 mb-4"><b>Listado de productos</b></h2>

    <div class="col-md-4 col-xs-12">
        <nav aria-label="Navigation row">
           
        </nav>
    </div>
        </div>

        
<div class="row justify-content-center">
    <div class="col-md-4 col-xs-12 p-3" style="background-color: #e1e1e1;">
    {{#each products}}
        <div class="card mb-4">
            <img src="{{thumbnail}}" class="card-img-top" alt="Vista previa producto" title="Vista previa producto">
                    
            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <p class="card-text">{{description}}</p>
                <div style="width: 100%; text-align: right;">
                    <button class="btn btn-success" onclick="addToCart('{{this.id}}')"><i class="fas fa-cart-plus"></i> Agregar al carro</button>
                </div>
            </div>
        </div>
    {{/each}}
    </div>
</div>
    </div>

     <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script>

     <script>
    const socket = io();

    socket.on('connect', () => {
      console.log('El servidor ha confirmado la conexión');
    });

    socket.on('product_added_to_cart', (product) => {
            console.log('Se disparó el evento product_added_to_cart con el id', product);
        });

   const addToCart = (product_id) => {
        console.log('Agregar el producto al carrito', product_id);
        socket.emit('new_product_in_cart', product_id);
    }
    
  </script>
</body>
</html>
